
pc_monitor/build/
pc_monitor/main/build/
pc_monitor/pc_host_app/__pycache__/
pc_monitor/pc_host_app/process_capture.exe
pc_monitor/pc_host_app/flash_many - Shortcut.lnk
pc_monitor/pc_host_app/process_capture.exe
pc_monitor/pc_host_app/process_capture.exe
pc_monitor/pc_host_app/process_capture.exe
pc_monitor/pc_host_app/process_capture.exe
pc_monitor/pc_host_app/-libcjson.dll
pc_monitor/libcjson.dll.a
libcjson.dll.a
.vscode/PythonImportHelper-v2-Completion.json
